<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"><b>ABOUT US</b></h2>
                <hr class="primary">
                <p style="color:black;">Kredirel is a fintech proptech company utilising proprietary loan underwriting software and an AI module minimising the default risk. We are a specialist bridging and development lender servicing CEE area (Czech Republic, Poland, Slovakia and Hungary) and Germany.</p>
            </div>
        </div>
    </div>
</section>
