  <section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
              <h2 class="section-heading"><center><b>OUR TEAM</center></b></h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col">
            <div class="row">
                <div class="service-box">
                    <i><img src="img/marek.jfif"></i>
                  <center><h3><b>Marek Oleksiewicz</b></h3> <h3 class="text-muted">Founder</h3><hr>
                    <p style = "padding-top: 15px;padding-bottom: 15px;padding-left: 15px; padding-right: 15px; border:2px solid grey; font-size:20px;">M. is real but we cannot reveal him right now. M. has 15+ years senior IT and data science experience including being the Head of Software Development.
He's also done 5+ years of own research in AI applications in financial markets
                      (for derivative instruments and equity). </p><hr></center>
 


            <div class="row schedule-item">
                <div class="col-md-2"><time><img src="img/db.png"></time></div>
              <div class="col-md-10">
                <div class="speaker"></div>
                <h4 style="font-size:20px;"><span>Deutsche Bank</span>- Head of Infrastructure</h4>
              </div>
            </div>

            <div class="row schedule-item">
                <div class="col-md-2"><time><img src="img/jp.png"></time></div>
              <div class="col-md-10">
                <div class="speaker"></div>
                <h4 style="font-size:20px;"><span>JP Morgan</span>- Valuation Control Group</h4>
              </div>
            </div>
            <div class="row schedule-item">
                <div class="col-md-2"><time><img src="img/bc.png"></time></div>
              <div class="col-md-10">
                <div class="speaker"></div>
                <h4 style="font-size:20px;"><span>Barclays Capital</span>- Front office Fixed Income and Risk</h4>
              </div>
            </div>
            <div class="row schedule-item">
                <div class="col-md-2"><time><img src="img/gs.png"></time></div>
              <div class="col-md-10">
                <div class="speaker"></div>
                <h4 style="font-size:20px;"><span>Goldman Sachs</span>- Front office Fixed Income Electronic Trading</h4>
              </div>
            </div>
            <div class="row schedule-item">
                <div class="col-md-2"><time><img src="img/b.png"></time></div>
              <div class="col-md-10">
                <div class="speaker"></div>
                <h4 style="font-size:20px;"><span>R&D FX Options</span></h4>
              </div>
            </div>
            <div class="row schedule-item">
                <div class="col-md-2"><time><img src="img/for.png"></time></div>
              <div class="col-md-10">
                <div class="speaker"></div>
                <h4 style="font-size:20px;"><span>Ford</span></h4>
              </div>
            </div>
            <div class="row schedule-item">
                <div class="col-md-2"><time><img src="img/ie.png"></time></div>
              <div class="col-md-10">
                <div class="speaker"></div>
                <h4 style="font-size:20px;"><span>Instituto de Empresa, Madrid</span> MBA</h4>
              </div>
            </div>
            <div class="row schedule-item">
                <div class="col-md-2"><time><img src="img/reading.png"></time></div>
              <div class="col-md-10">
                <div class="speaker"></div>
                <h4 style="font-size:20px;"><span>University of Reading - Msc, International Securities, Investment and Banking</span></h4>
              </div>
            </div>
            <div class="row schedule-item">
                <div class="col-md-2"><time><img src="img/wro.png"></time></div>
              <div class="col-md-10">
                <div class="speaker"></div>
                <h4 style="font-size:20px;"><span>Wroclaw University of Technology - MSc, Electrical Engineering</span></h4>
              </div>
            </div>



                </div>
            </div>
            <div class="row">
                <div class="service-box">
                    <i data-wow-delay=".1s"><img src="img/inna.jfif"></i>
                  <center><h3><b>Inna Zhuranskaya</b></h3> <h3 class="text-muted">CIO</h3><p class="text-muted">(Strategy, Lending, Funding)</p><hr>
                    <p style = "padding-top: 15px;padding-bottom: 15px;padding-left: 15px; padding-right: 15px; border:2px solid grey; font-size:20px;">17+ years senior experience in real estate  debt & equity including being the CEO of Allrise FG. Entrepreneurial experience included spotting and scaling Unite student housing, IO Group light industrials (both for GIC), Wombats hostels, Alkor Bio, ID Finance/MoneyMan payday lending.
LLM (Cambridge) and MSc in Real Estate (LSE). FCA qualified & Chartered Director at the IOD.</p><hr></center>

            <div class="row schedule-item">
                <div class="col-md-2"><time><img src="img/yoo.png"></time></div>
              <div class="col-md-10">
                <div class="speaker"></div>
                <h4 style="font-size:20px;">Yoo Capital - CIO, £2.0 billion AUM in Greater London</h4>
              </div>
            </div>

            <div class="row schedule-item">
                <div class="col-md-2"><time><img src="img/k.png"></time></div>
              <div class="col-md-10">
                <div class="speaker"></div>
                <h4 style="font-size:20px;">Kredirel Group - CEO; Kredirel platform has been integrated into Yoo</h4>
              </div>
            </div>
            <div class="row schedule-item">
                <div class="col-md-2"><time><img src="img/allrise.png"></time></div>
              <div class="col-md-10">
                <div class="speaker"></div>
                <h4 style="font-size:20px;">Allrise Financial Group - CEO; PE group with $300m AUM</h4>
              </div>
            </div>
            <div class="row schedule-item">
                <div class="col-md-2"><time><img src="img/sterne.png"></time></div>
              <div class="col-md-10">
                <div class="speaker"></div>
                <h4 style="font-size:20px;">Managing Director - Real Estate/Alternatives and Private Credit and Infrastructure</h4>
              </div>
            </div>
            <div class="row schedule-item">
                <div class="col-md-2"><time><img src="img/wom.png"></time></div>
              <div class="col-md-10">
                <div class="speaker"></div>
                <h4 style="font-size:20px;">Managing Director at Krestco (acting for the Lion Trust) - Wombat's CITY Hostels</h4>
              </div>
            </div>
            <div class="row schedule-item">
                <div class="col-md-2"><time><img src="img/db.png"></time></div>
              <div class="col-md-10">
                <div class="speaker"></div>
                <h4 style="font-size:20px;">Director, Real Estate Credit and Special Situations Structuring</h4>
              </div>
            </div>
            <div class="row schedule-item">
                <div class="col-md-2"><time><img src="img/ml.png"></time></div>
              <div class="col-md-10">
                <div class="speaker"></div>
                <h4 style="font-size:20px;">Vice President, Global Real Investment & Global Real Estate/PE in Wealth Management</h4>
              </div>
            </div>
            <div class="row schedule-item">
                <div class="col-md-2"><time><img src="img/gic.png"></time></div>
              <div class="col-md-10">
                <div class="speaker"></div>
               <h4 style="font-size:20px;">Government of Singapore Investment Corporation - Associate & Investment Manager for Several JVs</h4>
              </div>
            </div>
            <div class="row schedule-item">
                <div class="col-md-2"><time><img src="img/camb.png"></time></div>
              <div class="col-md-10">
                <div class="speaker"></div>
                <h4 style="font-size:20px;">University of Cambridge - LL.M., Commercial Law</h4>
              </div>
            </div>
            <div class="row schedule-item">
                <div class="col-md-2"><time><img src="img/lse.png"></time></div>
              <div class="col-md-10">
                <div class="speaker"></div>
               <h4 style="font-size:20px;">London School of Economics - Msc, Real Estate Economics & Finance</h4>
              </div>
            </div>
                </div>
            </div>
        </div>
    </div>
</section>
